[Unit]
Description=cbridge listener Service
Wants=network.target

[Service]
Type=simple
User=jeff
Group=jeff
ExecStart=/home/jeff/cbridge-listener/listener.py
KillMode=process
WorkingDirectory=/home/jeff/cbridge-listener

[Install]
WantedBy=multi-user.target

